---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,900,900italic);
@import url("https://use.typekit.net/rqe1sku.css");
// Our variables
$base-font-family:  soleil, Helvetica, Arial, sans-serif;
$base-font-size:   21px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$heading-font-family:  soleil, Helvetica, Arial, sans-serif;
$heading-font-weight: 900;

$special-font-family: $heading-font-family;
$special-font-weight: 900;
$special-font-style: normal;
$special-font-spacing: -0.01em;

$spacing-unit:     80px;

$text-color:       #000;
$background-color: #FFF;
$brand-color:      green;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1400px;

$on-smallphone:    360px;
$on-palm:          768px;
$on-laptop:        1000px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin theme-colors($themecolor_bg, $themecolor_text) {
    background-color: $themecolor_bg;
    color: $themecolor_text;

    & #this_page_content {
      background-color: $themecolor_bg;
    }

    a, 
    .site-footer a,
    .site-nav .page-link,
    .button {
        color: $themecolor_text;
    }

    .drop_cap::after,
    .button::after,
    .page-subtitle::after,
    .work_list_title::after,
    .slick-arrow.slick-next::after,
    .slick-arrow::after {
        background-color: $themecolor_text;
    }

    .site-footer {
      background-color: $themecolor_bg;
    }
    #floter_signature_svg,
    .site-footer .icon > svg path {
        fill: $themecolor_text;
    }

    p > a:hover,
    .footer-heading,
    .button:hover, 
    .button:active {
        border-color: $themecolor_text;
    }
    .page-header-wrapper {
      background-color: $themecolor_bg;     
    }
    .wrapper_outer:after {
        background: $themecolor_bg;
        background: linear-gradient(0deg, $themecolor_bg 0%, transparentize($themecolor_bg, 1) 100%);
    }
    .wrapper_outer:before {
        background: $themecolor_bg;
        background: linear-gradient(0deg, transparentize($themecolor_bg, 1) 0%, $themecolor_bg 100%);
    }
    .work_list_tile_header::after {
      background-color: $themecolor_text;
    }
    .work_list_tile:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: desaturate($themecolor_text, 10%);
      mix-blend-mode: color;
      opacity: 1;
      z-index: 0;
    }
    .work_list_tile:hover:before {
      background-color: desaturate($themecolor_bg, 20%);
    }
    .work_list_tile:hover .work_list_tile_subtitle,
    .work_list_tile:hover .work_list_tile_title {
      color: $themecolor_bg;
    }
    .work_list_tile:hover .work_list_tile_subtitle::after {
      background-color: $themecolor_bg;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "devices.min.css",
        "devices",
        "layout",
        "scrollreveal",
        "syntax-highlighting",
        "gallery", 
        "theme-home",
        "blogposts",
        "theme-crappy",
        "theme-cwn",
        "theme-illustrations-various",
        "theme-bierbaum",
        "theme-mrroof",
        "theme-liverpool",
        "theme-julahas",
        "theme-roehampton",
        "theme-odinsravens",
        "theme-letshost",
        "theme-booking",
        "theme-jpl",
        "theme-hatetracker",
        "theme-404"
;
