<div class='deviceContainer' style=''>
<div class="iphone black portrait">
    <div class="caseBorder"></div>
    <div class="case"></div>
    <div class="reflection"></div>
    <div class="iphone_screen"></div>
    <div class="speaker"></div>
    <div class="homeButtonBorder"></div>
    <div class="homeButton"></div>
    <div class="content" style="background-image: url({{include.screenshot-mobile}}); background-size: 100% auto; background-repeat: no-repeat;">
    </div>
</div>                       
</div>
            