<footer class="site-footer">

  {% include work-list.html %}

  <div class="wrapper">

    <h2 id="contact" class="footer-heading">Contact</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}" target="_blank"><span class="icon icon--email">{% include icon-email.svg %}</span>{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
            {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
        <li>
          <a href="https://www.instagram.com/skyfloter/"><span class="icon icon--instagram">{% include icon-instagram.svg %}</span><span class="username">instagram</span></a>
      </li>
      <li>
          <a href="https://www.facebook.com/skyfloter"><span class="icon icon--facebook">{% include icon-facebook.svg %}</span><span class="username">facebook</span></a>
      </li>
  </ul>
</div>

<div class="footer-col footer-col-3">
    <p><span class="drop_cap">S</span>imon Floter is a Designer and Illustrator living in Amsterdam. He designs websites, logos, housestyles and draws pictures in exchange for money.</p>
    <p class="kleingedrucktes">KVK&nbsp;(Chamber&nbsp;of&nbsp;Commerce):&nbsp;67233902 | BTW&nbsp;(VAT Number):&nbsp;445177561B01</p> 
</div>
</div>

</div>

</footer>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="{{ site.baseurl }}/js/barba.min.js" type="text/javascript"></script> -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.easing.1.3.js"></script>
<script src="{{ site.baseurl }}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/scripts.js"></script>

