<footer class="site-footer">

  {% include work-list.html %}

  <div class="wrapper">

    <h2 id="contact" class="footer-heading">Contact</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}" target="_blank"><span class="icon icon--email">{% include icon-email.svg %}</span>{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
          <a href="https://www.instagram.com/skyfloter/"><span class="icon icon--instagram">{% include icon-instagram.svg %}</span><span class="username">instagram</span></a>
          </li>
          <li>
          <a href="https://www.facebook.com/skyfloter"><span class="icon icon--facebook">{% include icon-facebook.svg %}</span><span class="username">facebook</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p><span class="drop_cap">S</span>imon Floter is a Designer and Illustrator living in Amsterdam. He designs websites, logos, housestyles and draws pictures in exchange for money.</p>
        <p class="kleingedrucktes">KVK&nbsp;(Chamber&nbsp;of&nbsp;Commerce):&nbsp;67233902 | BTW&nbsp;(VAT Number):&nbsp;445177561B01</p> 
      </div>
    </div>

  </div>

</footer>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.easing.1.3.js"></script>
{% if page.layout == 'index' %}
{% comment %}
--------------------------------------------
Greensock Code is only needed on homepage
--------------------------------------------
{% endcomment %}
  <script src="js/TweenMax.min.js"></script>
{% endif %}

<script type="text/javascript">
  $(document).ready(function(){

    //initiate galleries
    $('.gallery-xscroll').slick({
    });

    //set has_hero_img height in pxs to avoid mobile resizing
    var windowheight = $(window).height();
    $('.has_hero_img').css('min-height', windowheight);

    //Home page interaction stuff
    $('.home .page-title').on('click mouseover', function(){
      $('body').addClass('home-title-part-interaction-hover');
    });

    $('.home .page-title').on('mouseout', function(){
      $('body').removeClass('home-title-part-interaction-hover');
    });

    $('.home-title-part-interaction').on('click', function(){
      $('body').addClass('home-title-part-interaction-active');

    });

  });

  //smooth scrolling
  $(function() {
    $('a.anchorlink').bind('click',function(event){
      var $anchor = $(this);

      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top - 50
      }, 1000,'easeInOutExpo');
     
      event.preventDefault();
    });
  });

  // Header shrinking

  $(document).ready(function(){
    var initScrollTop = $(window).scrollTop();
    if (initScrollTop >= 10) {
        $('body').addClass('site-header--scrolled');
      } else if (initScrollTop < 10) {
        $('body').removeClass('site-header--scrolled');
      } ;

    var scrollTop = 0;
    $(window).scroll(function(){
      scrollTop = $(window).scrollTop();
      // $('.counter').html(scrollTop);
      
      if (scrollTop >= 10) {
        $('body').addClass('site-header--scrolled');
      } else if (scrollTop < 10) {
        $('body').removeClass('site-header--scrolled');
      } 
      
    }); 
    
  });

  //Bierbaum Tree

  // If you use this code, please link to this pen (cdpn.io/rkcjt).
  if($('body').hasClass('theme-bierbaum')){
    var DrawEye = function(eyecontainer, pupil){

        // Initialise core variables
        var eyeposx = $(eyecontainer).offset().left;
        var eyeposy = $(eyecontainer).offset().top;
        var r = $(pupil).outerWidth()/2;
        var center = {
          x: $(eyecontainer).outerWidth()/2 - r, 
          y: $(eyecontainer).outerHeight()/2 - r
        };
        var distanceThreshold = $(eyecontainer).width()/2 - r;
        var mouseX = center.x, mouseY = center.y;
        
        // Listen for mouse movement
        $(window).mousemove(function(e){ 
          var d = {
            x: e.pageX - r - eyeposx - center.x,
            y: e.pageY - r - eyeposy - center.y
          };
          var distance = Math.sqrt(d.x*d.x + d.y*d.y);
          if (distance < distanceThreshold) {
            mouseX = e.pageX - eyeposx - r;
            mouseY = e.pageY - eyeposy - r;
          } else {
            mouseX = d.x / distance * distanceThreshold + center.x;
            mouseY = d.y / distance * distanceThreshold + center.y;
          }
        });
        
        // Update pupil location
        var pupil = $(pupil);
        var xp = center.x, yp = center.y;
        var loop = setInterval(function(){
          // change 1 to alter damping/momentum - higher is slower
          xp += (mouseX - xp) / 50;
          yp += (mouseY - yp) / 50;
          pupil.css({left:xp, top:yp});    
        }, 1);
    };

    var theEye = new DrawEye("#Tree_Eye_BG--anim", "#Tree_Eye_inner--anim");
  };

// BloatKing replay
  var iframe = $('.animation-iframe');
  $('.button_bloatking-replay').on('click', function(){
    iframe.src = iframe.src;    
  })

// Google Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97207931-1', 'auto');
  ga('send', 'pageview');
</script>

{% if page.layout == 'index' %}
{% comment %}
--------------------------------------------
Homepage Greensock Code for handcreature animation
--------------------------------------------
{% endcomment %}
<script type="text/javascript">
    var handcreature_master = new TimelineMax();
    var handcreature_click = new TimelineMax({ paused: true});

    function appear() {
      var tl = new TimelineMax()
        .set("#handcreature_canvas", { 
          autoAlpha: 1
        })
        .set("#hole_fg", {
          //xPercent: -5
        })
        .set("#hole_bg", {
          //xPercent: -15
        })
        .fromTo("#creature", 1, {
          yPercent: 100,
          xPercent: 40,
          scaleX: 0.5
        }, {
          yPercent: 0,
          xPercent: 0,
          scaleX: 1,
          ease: Power4.easeOut
        }, 0)
        .from("#head", .5, {
          rotationZ: 45,
          transformOrigin: "30% 80%",
        }, 0)
        
      ;
      return tl;
    }

    function pencil_move() {
      var tl = new TimelineMax( {repeat: -1, repeatDelay: 6} )
      .to("#pencil", .25, {
        xPercent: 1,
        yPercent: 1,
        rotationZ: 1,
        transformOrigin: "80% 50%"
      }, 0)
      .to("#thumb", .25, {
        scaleX: 1.05,
        scaleY: 0.95,
        transformOrigin: "0% 50%",
        rotationZ: -1
      }, 0)
      .to("#indexfinger", .25, {
        scaleX: 1.05,
        scaleY: 0.95,
        transformOrigin: "0% 50%",
        rotationZ: 2
      }, 0)
      .to("#pencil", .25, {
        xPercent: 0,
        yPercent: 0,
        rotationZ: 0
      }, .25)
      .to("#thumb", .25, {
        scaleX: 1,
        scaleY: 1,
        transformOrigin: "0% 50%",
        rotationZ: 0
      }, .25)
      .to("#indexfinger", .25, {
        scaleX: 1,
        scaleY: 1,
        transformOrigin: "0% 50%",
        rotationZ: 0
      }, .25)
      .to("#pencil", .25, {
        xPercent: 1,
        yPercent: 1,
        rotationZ: 1
      }, .5)
      .to("#thumb", .25, {
        scaleX: 1.05,
        scaleY: 0.95,
        transformOrigin: "0% 50%",
        rotationZ: -1
      }, .5)
      .to("#indexfinger", .25, {
        scaleX: 1.05,
        scaleY: 0.95,
        transformOrigin: "0% 50%",
        rotationZ: 2
      }, .5)
      .to("#pencil", .25, {
        xPercent: 0,
        yPercent: 0,
        rotationZ: 0
      }, .75)
      .to("#thumb", .25, {
        scaleX: 1,
        scaleY: 1,
        transformOrigin: "0% 50%",
        rotationZ: 0
      }, .75)
      .to("#indexfinger", .25, {
        scaleX: 1,
        scaleY: 1,
        transformOrigin: "0% 50%",
        rotationZ: 0
      }, .75);
      return tl;
    };

    function body_sway() {
      var tl = new TimelineMax( {repeat: -1})
      .to("#creature", 2, {
        rotationZ: 2,
        transformOrigin: "50% 100%",
      }, 0)
      .to("#head", 2, {
        rotationZ: 2,
        transformOrigin: "20% 90%",
      }, 0)
      .to("#pinky", 2, {
        rotationZ: 5,
        transformOrigin: "0% 100%"
      }, 0)
      .to("#creature", 2, {
        rotationZ: 0,
        transformOrigin: "50% 100%",
      }, 2)
      .to("#head", 2, {
        rotationZ: 0,
        transformOrigin: "20% 90%",
      }, 2)
      .to("#pinky", 2, {
        rotationZ: 0,
        transformOrigin: "0% 100%"
      }, 2)
      return tl;
    };

    function eyeblink() {
      var tl = new TimelineMax( {repeat: -1, repeatDelay: 1})
      .to("#eye--open", .1, {
        autoAlpha: 0
      }, 1)
      .to("#eye--semi", .1, {
        autoAlpha: 0
      }, 1)
      .to("#eye--semi", .1, {
        autoAlpha: 1
      })
      .to("#eye--open", .1, {
        autoAlpha: 1
      })
      //Second blink
      .to("#eye--open", .1, {
        autoAlpha: 0
      })
      .to("#eye--semi", .1, {
        autoAlpha: 0
      })
      .to("#eye--semi", .1, {
        autoAlpha: 1
      })
      .to("#eye--open", .1, {
        autoAlpha: 1
      });
      return tl;
    };   
      
    handcreature_master.add( appear().timeScale(1.5), 2 );
    handcreature_master.add( body_sway(),3 );
    handcreature_master.add( eyeblink(), 4 );
    handcreature_master.add( pencil_move().timeScale(2.2), 4 );
    handcreature_master.play();    

    $("#handcreature_canvas").on("mouseover", function(){
      TweenMax.to("#creature_hover", .5, {
        yPercent: 5,
        xPercent: 1,
        scale: 1
      })
    });

    $("#handcreature_canvas").on("mouseout", function(){
      TweenMax.to("#creature_hover", .5, {
        yPercent: 0,
        xPercent: 0,
        scale: 1
      })
    });

    var buttonColor;

    $("#handcreature_canvas").on("click", function(){     
      handcreature_master.pause();
      buttonColor = "rgb(" + (Math.floor(Math.random() * 155) + 100) + "," + (Math.floor(Math.random() * 155) + 100) + "," + (Math.floor(Math.random() * 155) + 100) + ")";
      TweenMax.set("#eye--open, #eye--semi", {
        autoAlpha: 0
      });
      TweenMax.set("#eye--open, #eye--semi", {
        autoAlpha: 1,
        delay: 1
      });
      TweenMax.to("#head", .5, {
        rotationZ: -15,
        scale: .9,
        repeat: 1,
        yoyo: true,
        ease: RoughEase.ease.config({ template:  Power0.easeNone, strength: 2, points: 20, taper: "none", randomize:  true, clamp: true})
      });
      TweenMax.to(".handcreature_st2", .5, {
        fill: "#FFFFFF"
      });
      TweenMax.to(".handcreature_st5", .5, {
        fill: "#FFFFFF"
      });
      TweenMax.to(".button_home-cta", .5, {
        backgroundColor: "#FFFFFF"
      }) 
      TweenMax.to(".button_home-cta", .5, {
        backgroundColor: buttonColor,
        delay: .75
      })      
      TweenMax.to(".handcreature_st2", .25, {
        fill: buttonColor,
        delay: .75
      });
      TweenMax.to(".handcreature_st5", .25, {
        fill: "rgb(" + (Math.floor(Math.random() * 155) + 100) + "," + (Math.floor(Math.random() * 155) + 100) + "," + (Math.floor(Math.random() * 155) + 100) + ")",
        delay: .75,
        onComplete: function(){handcreature_master.play();}
      });         
    });
</script>

{% endif %}
