<div id="work_list" class="wrapper">
	<div class="row work_list">
		<h3 id="work_examples" class="work_list_title">Recent Work</h3>
		{% assign sorted_work = site.work | sort:"order" | reverse %}
		{% for work in sorted_work %}
			{% if work.type == "portfolio" %}
			{% unless page.id == work.id %}
				<a href="{{ work.permalink }}">
				<div class="work_list_tile work_list_tile_{{ work.title | remove: " " | remove: "." }}">
					<div class="work_list_tile_thumb" style="background-image: url({{ work.header_bg_image }})">	       					
			      	</div>
			      	<h4 class="work_list_tile_title">{{ work.title }}</h4>
			    </div>
			    </a>
			{% endunless %}
			{% endif %}

	    {% endfor %}
	</div>
</div>