<div id="work_list_wrapper" class="wrapper">
	<h2 class="work_list_title">Recent Work</h2>
	<div id="work_examples" class="work_list">
		{% assign sorted_work = site.work | sort:"order" | reverse %}
		{% for work in sorted_work %}
			{% if work.type == "portfolio" %}
			{% unless page.id == work.id %}
				<a href="{{ work.permalink }}">
				<div class="work_list_tile work_list_tile_{{ work.title | remove: " " | remove: "." }} {{ work.worktile_theme }}">
					<div class="work_list_tile_thumb">
{% assign sizes = "(min-width:1200px) 620px, (min-width:641px) 50vw, 100vw" %}
{% responsive_image_block %}
path: ./{{ work.header_bg_image }}
sizes: {{ sizes }} 
{% endresponsive_image_block %}				
			      	</div>
			      	<header class="work_list_tile_header">		      			
						<h5 class="work_list_tile_subtitle">{{ work.category }}</h5>
						<h4 class="work_list_tile_title">{{ work.title }}</h4>				
				    </header>
			    </div>
			    </a>
			{% endunless %}
			{% endif %}

	    {% endfor %}
	</div>
</div>