.gallery-xscroll {
	white-space: nowrap;
	height: auto;
	overflow-x: auto;
	width: 100%;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
  display: flex;
}
.gallery-xscroll > img,
.gallery-xscroll > picture {
	display: block;
  flex-basis: 50%;
  flex-shrink: 0;
  padding: 1rem 10%;
	scroll-snap-align: center;
  &:first-child {
    padding-left: 25%;
  }
  &:last-child {
    padding-right: 25%;
  }
  @include media-query($on-palm) {
    flex-basis: 75%;
    padding: 1rem 3%;
    &:first-child {
      padding-left: 12.5%;
    }
    &:last-child {
      padding-right: 12.5%;
    }
  }
}
.slick-arrow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
    width: 40px;
    background: transparent;
    border: none;
    overflow: hidden;
    text-indent: -1000px;
    cursor: w-resize;
    cursor: -webkit-w-resize;
    cursor: -moz-w-resize;
    &:focus {
    	outline: none;
    }
    &:after {
    	content: '';
		display: block;
		width: 40px;
		height: 40px;
		background: none;
		background-size: 40px;
		-webkit-mask: url(../img/UI/arrow_left.svg) no-repeat 50% 50%;
		mask: url(../img/UI/arrow_left.svg) no-repeat 50% 50%;
		-webkit-mask-size: cover;
		mask-size: cover;
		background-color: $text-color;
		position: absolute;
		right: 0;
		top: 50%;
	    margin-top: -40px;
	    border-radius: 50%;
    }
}
.slick-arrow.slick-next {
	left: auto;
	right: 0;
	cursor: e-resize;
    cursor: -webkit-e-resize;
    cursor: -moz-e-resize;

    &:after {
    	content: '';
		display: block;
		width: 40px;
		height: 40px;
		background: none;
		background-size: 40px;
		-webkit-mask: url(../img/UI/arrow_right.svg) no-repeat 50% 50%;
		mask: url(../img/UI/arrow_right.svg) no-repeat 50% 50%;
		-webkit-mask-size: cover;
		mask-size: cover;
		background-color: $text-color;
		position: absolute;
		right: auto;
		left: 0;
    }
}
/* Touch devices show something */
.touchevents {
	.gallery-xscroll:after {
		content: '';
		display: block;
		width: 40px;
		height: 40px;
		background: url(../img/UI/swipe.svg) 0 0 no-repeat;
		position: absolute;
	    bottom: 0;
	    left: 50%;
	    margin-left: -15px;
	    margin-top: -15px;
	}
	.slick-arrow:after {
		display: none!important;
	}
}