/**
 * Preloader
 */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color;
    z-index: 101;

    .preloader_logo-container {
        width: 200px;
        height: 200px;
        position: absolute;
        left: calc(50% - 100px);
        top: calc(50% - 100px);
    }

    & #floter_signature_svg {
        width: 100%;
        height: auto;
        margin-top: 0;
        left: 0;
        max-width: none;

        & * {
            fill: #999;
        }

        & .dash {
            display: none;
        }
    }

    & .newdashcontainer {
        position: absolute;
        top:5%;
        left: 42%;
        transform: rotate(-20deg);
    }

    & .newdash {
        display: block;
        width: 30px;
        height: 8px;
        background-color: #999;
        animation: spin 1s forwards alternate infinite;
    }
}


@-webkit-keyframes spin { 
0% { -webkit-transform-origin: 100% 0; transform-origin: 100% 0; -webkit-transform: scaleX(0); transform: scaleX(0); } 
50% { -webkit-transform-origin: 100% 0; transform-origin: 100% 0; -webkit-transform: scaleX(1); transform: scaleX(1); } 
51% { -webkit-transform-origin: 0 0; transform-origin: 0 0; }
100% {-webkit-transform-origin: 0 0;transform-origin: 0 0; -webkit-transform: scaleX(0); transform: scaleX(0); } 
} 
@keyframes spin { 
0% { -webkit-transform-origin: 100% 0; transform-origin: 100% 0; -webkit-transform: scaleX(0); transform: scaleX(0); } 
50% { -webkit-transform-origin: 100% 0; transform-origin: 100% 0; -webkit-transform: scaleX(1); transform: scaleX(1); } 
51% { -webkit-transform-origin: 0 0%; transform-origin: 0 0%; }
100% {-webkit-transform-origin: 0 0%;transform-origin: 0 0%; -webkit-transform: scaleX(0); transform: scaleX(0); } 
}

/**
 * Site header
 */
.site-header {
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;

    & .wrapper {
        max-width: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $spacing-unit/16;
        padding-bottom: $spacing-unit/16;

        &:after{
            content: none;
        }
    }
}

.site-title {
    display: block;

    &,
    &:visited {
        color: inherit;
    }
}

#floter_signature_svg {
    width: 20vw;
    height: auto;
    fill: $text-color;
    transition: all .2s ease-out;
    display: block;
    position: relative;
    margin-top: 15%;
    left: -10%; 
    max-width: 135px;
}

.site-nav {
    position: relative;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        font-family: $base-font-family;
        font-weight: normal;
        line-height: 1;
        display: inline;
        -webkit-font-smoothing: antialiased;
        
        @include media-query($on-palm) {
            font-size: .9em;
        }
    }

    .page-link-divider {
        padding: 0 5px;
    }
}

 .site-header--scrolled .site-header{
    min-height: 0;
    transition: all .2s ease-out;
    padding-top: 10px;
    padding-bottom: 3px;
    left: 0px;
    right: 0px;
    top:0px;
    background-color: $background-color;
    border-bottom: 1px solid #DDD;
    z-index: 1009;

    & #floter_signature_svg {
        transition: all .2s ease-out;
        width: 81px;
        height: 47px;
        position: relative;
        top: 3px;

        @include media-query($on-palm) {
            width: 50px;
            height: 29px;
        }
    }   

    & .site-title {
        line-height: 1;
    }

    & .site-nav {        
        padding-top: 10px;
        line-height: 1;
        top: 0;

        @include media-query($on-palm) {
            padding-top: 5px;
            line-height: 0;
            top: 2px;
        }

        & .page-link,
        & .page-link-divider {
            font-size: .8em;

            @include media-query($on-palm) {
                font-size: .75em;
            }
        }
   }
} 


/**
 * Site footer
 */
.site-footer {
    padding: 0;
    position: relative;

    & .wrapper {
        max-width: none;
    }
}

.footer-heading {
    border-top: 5px solid $text-color;
    padding-top: 20px;
    margin-top: $spacing-unit;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    & a{
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        font-size: 1em;

        &:hover {
            text-decoration: underline;
        }
    }
}

.kleingedrucktes {
    font-size: .75em;
}

.footer-col-wrapper {
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(65% - (#{$spacing-unit} / 2));
    width:         calc(65% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Work List content
 */

#work_list_wrapper {
    margin: 0;
    @media (max-width: 599px) {
        padding: 0;
    }
}

.work_list {
    margin-bottom: $spacing-unit;
    margin: 0;
    padding: 0;

    &.row {
        overflow: visible;
        margin-left: 0;
        margin-top: 0;
    }
}

.work_list_tile { // notice: TILE not TITLE like above
    float: left;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-top:0;
    margin-left: 0;
    margin-right: 0%;
    margin-bottom: 0%;
    background-color: #EEE;
    box-sizing: border-box;

    @media screen and (min-width: 600px) {
        width: 50%;
        padding-bottom: 40%;    

        .work_list a:nth-child(odd) &  {
            position: relative;
            top: 2rem;
        }
    }
}

.work_list_title {
    position: relative;
    @media (max-width: 599px) {
        padding: 0 1rem; 
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left: 0;
        right: 4px;
        width: 32px;
        background-color: #000;
        height: 3px;
    }
}

.work_list_tile_thumb {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
    background-color: $text-color;
    background-repeat: no-repeat;
   // background-blend-mode: luminosity;
   
    //@extend %hover-transition;
}

.work_list_tile_thumb:hover {
    background-blend-mode: normal;
}

.work_list_tile_header {
    position: absolute;
    top: 0;
    padding: 1rem;
      
    @media screen and (min-width: 600px) {
        padding: 1.5rem;
    }
}

.work_list_tile_title {
    font-size: 1.2rem;
    margin: 0 0 .2rem 0;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: 1.2;
    color: $background-color;
}

.work_list_tile_subtitle{
    font-size: 1rem;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    margin: 0;
    line-height: 1.2;
    color: $background-color;
}

/**
 * Index content
 */

.index-header {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: right top;
 }

/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.page-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.page-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.page-link {
    display: block;
    font-size: 24px;
}



/**
 * Pages
 */
.page-header {
    box-sizing: border-box;

    &.has_hero_img {      
        height: 100vh;
        margin-bottom: 120px;
    }
}
.page-header_bg {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &:after {
        content: '';
        width: 100%;
        position: absolute;
        bottom:0;
        height: 50vh;
        background: $background-color;
        background: linear-gradient(0deg, $background-color 3%, transparentize($background-color, 1) 100%);
    }
}
.page-header-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.page-title {
    font-family: $special-font-family;
    font-weight: $special-font-weight;
    //text-transform: uppercase;
    //letter-spacing: -0.01em;
    font-size: 2.5rem;
    line-height: 1.1;
    padding: 0;
    margin-bottom: 1em;

    @media (min-width: 600px) {
        font-size: 3.5rem;
    }
}

.page-subtitle {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 0;
    margin-bottom: .5rem;
    margin-top: 2rem;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left:0;
        right: 4px;
        width: 32px;
        background-color: $text-color;
        height: 3px;
    }
}

.arrow_down {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
}

.arrow-right {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 20px;
}

.page_noheader {
    padding-top: 50px;

    @media (min-width: 769px) {
        padding-top: 140px;        
    }

}

.page-content {   
}

.drop_cap { 
    float: left; 
    font-size: 3.33em; 
    line-height: 0.833em; 
    //padding-top: .1em;
    padding-right: .1333em; 
    padding-left: .05em;  
    font-weight: 900;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left:0;
        right: 4px;
        background-color: $text-color;
        height: 5px;
    }

    @include media-query ($on-smallphone) {
        top: 1px;
    }
}

.quick_info_box {
    padding: $spacing-unit / 2;
    padding-bottom: 0;
    border: 2px solid $text-color;
    margin-bottom: $spacing-unit;
}

.quick_info_box_header {
    margin-bottom: $spacing-unit / 4;
}

.quick_info_box_list {
    margin-left: $spacing-unit / 3;
}

/**
 * Column layouts   
 */
 .row {
    clear: both;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
    overflow: visible;

    @media (min-width: 768px) {
        margin-left: -10px;
        margin-right: -10px; 
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: start;

        &.row--aligncenter {
            align-items: center;
        }

        .col-12, .col-8, .col-6, .col-4, .col-2 {
            flex-shrink: 0;            
            padding: 10px;
            box-sizing: border-box;

            &.overflow {
                overflow: auto;
            }
        }
        .col-12 {
            flex-basis: 100%;
        }
        .col-8 {
            flex-basis: 66.6666%;
        }
        .col-6 {
            flex-basis: 50%;
        }
        .col-4 {
            flex-basis: 33.3333%;
        }
        .col-2 {
            flex-basis: 16.666666667%;
        }
        .offset-2 {
            margin-left: 16.6%;   
        }
        .offset-3 {
            margin-left: 25%  ;   
        }
        .offset-4 {
            margin-left: 33.3%;   
        }
        .offset-6 {
            margin-left: 50%;   
        }
    } 
 }

@include media-query($on-palm) {
    .row {
        margin-bottom: 0;
        margin-left: 0;
        margin-top: $spacing-unit / 4;
    }

    .raster img{
        margin-bottom: 0;
    }

    .col-12, .col-8, .col-6, .col-4 {
        float: none;
        width: 100%;
        margin-bottom: $spacing-unit / 2;
        padding: 0;
        box-sizing: border-box;
    }
    .offset-3, .offset-2, .offset-4 {
        width: 100%;
    }
}

/* iframe stuff */

.animation-iframe {
    border: none; 
    width: 100%; 
    min-height: 580px;

    @include media-query($on-laptop) {
        height: calc(100vw - 40px);
        min-height: calc(100vw - 40px);
    }

    @include media-query($on-palm) {
        height: calc(100vw - 26.6666666667px);
        min-height: calc(100vw - 26.6666666667px);
    }
}

/* fluidbox */

.fluidbox-link {
    cursor: zoom-in;
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
}

.portfolio .fluidbox__overlay {
    background-color: #FFF;
}

/* Stuff that needs to be hidden on certain devices */

.hide_on_desktop {
    display: none!important;
}
@include media-query($on-palm) {
    .hide_on_phone {
        display: none!important;
    }
    .hide_on_desktop {
        display: initial!important;
    }
}