body {
    border: 10px solid $text-color;

    @include media-query($on-palm) {
        border: 5px solid $text-color;
    }

    &:after,
    &:before {
        content: '';
        display: block;
        left:0;
        right: 0;
        height: 10px;
        background-color: $text-color;
        position: fixed;
        bottom:0;
        z-index: 1000;

        @include media-query($on-palm) {
            height: 5px;
        }
    }

    &:before {
        bottom: auto;
        top: 0;
        transition: height .3s ease-out;
    }
}


/**
 * Site header
 */
.site-header {
    min-height: 56px;
    transition: all .2s ease-out;
    // Positioning context for the mobile navigation icon
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: $spacing-unit/1.5;
    z-index: 100;

    @include media-query($on-palm) {
        padding-top: $spacing-unit/3;
    }
}

.site-title {
    font-family: $heading-font-family;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: inherit;
    }
}

#floter_signature_svg {
    width: 200px;
    height: 118px;
    fill: $text-color;
    transition: all .2s ease-out;

    @include media-query($on-palm) {
        width: 100px;
        height: 59px;
    }
}

.site-nav {
    float: left;
    line-height: 56px;
    position: relative;
    left: 25px;

    @include media-query($on-palm) {
        line-height: 1;
        left: 15px;
        top: 5px;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        font-family: $heading-font-family;
        line-height: 1;
        display: inline;
        -webkit-font-smoothing: antialiased;
        
        @include media-query($on-palm) {
            font-size: .9em;
        }
    }

    .page-link-divider {
        padding: 0 5px;
    }
}

.site-header--scrolled .site-header{
    min-height: 0;
    transition: all .2s ease-out;
    padding-top: 10px;
    padding-bottom: 3px;
    left: 10px;
    right: 10px;
    top:10px;
    background-color: $background-color;
    border-bottom: 1px solid #DDD;
    z-index: 1009;

    @include media-query($on-palm) {
        left: 5px;
        right: 5px;
        top: 5px;
    }

    & #floter_signature_svg {
        transition: all .2s ease-out;
        width: 81px;
        height: 47px;
        //  fill: $background-color;
        position: relative;
        top: 3px;

        @include media-query($on-palm) {
            width: 50px;
            height: 29px;
        }
    }   

    & .site-title {
        line-height: 1;
    }

    & .site-nav {        
        padding-top: 10px;
        line-height: 1;
        top: 0;

        @include media-query($on-palm) {
            padding-top: 5px;
            line-height: 0;
            top: 2px;
        }

        & .page-link {
            font-size: .8em;
          //  color: $background-color;

            @include media-query($on-palm) {
                font-size: .75em;
            }
        }

        & .page-link-divider {
          //  color: $background-color;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    padding: 0;
    color: $text-color;
}

.footer-heading {
    border-top: 5px solid $text-color;
    padding-top: 20px;
    font-size: 2em;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    & a{
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        font-size: 1em;

        &:hover {
            text-decoration: underline;
        }
    }
}

.kleingedrucktes {
    font-size: .75em;
}

.footer-col-wrapper {
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(65% - (#{$spacing-unit} / 2));
    width:         calc(65% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Work List content
 */

.work_list {
    margin-bottom: $spacing-unit;
    margin-left: -$spacing-unit / 2;

    &.row {
        overflow: visible;
    }
}

.work_list_title {
    margin-left: $spacing-unit / 2;
    border-top: 5px solid $text-color;
    padding-top: 10px;
    font-size: 1.5em;

    @include media-query($on-laptop) {
        margin-left: $spacing-unit / 3;
    }  
}

.work_list_tile {
    float: left;
    box-sizing: border-box;
    position: relative;
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
    margin-left: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;

    @media screen and (max-width: 500px) {
        width: -webkit-calc(50% - (#{$spacing-unit} / 3));
        width:         calc(50% - (#{$spacing-unit} / 3));
        margin-left: $spacing-unit / 3;
        //margin-right: $spacing-unit / 6;
        margin-bottom: $spacing-unit / 4;
    }
}

.work_list_tile_thumb {
    height: 236px;
    width: 100%;
    display: block;
    background-position: 50% 50%;
    background-size: 90% auto;
    background-color: transparent;
    background-repeat: no-repeat;

    @media screen and (max-width: 1200px) {
        height: 18vw;
    }

    @media screen and (max-width: 500px) {
        height: 38vw;
    }
}

.work_list_tile_title{
    font-size: 18px;
    padding: 5px 0 0 0;
    color: $text-color;
    margin: 0;
    border-top: 2px solid #000;

    @include media-query($on-palm) {
        font-size: 14px;
    }
}


.row.work_list {

    @include media-query($on-laptop) {  
        margin-left: -$spacing-unit / 3;
    }
}

 

/**
 * Index content
 */

.index-header {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: right top;
 }

/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.page-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.page-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.page-link {
    display: block;
    font-size: 24px;
}



/**
 * Pages
 */
.page-header {
    box-sizing: border-box;

    & .wrapper {
        padding: 120px 0 0 0;
    }

    &.has_hero_img {
        background-position: 50% top;
        background-size: auto;
        background-repeat: no-repeat;
        min-height: 100vh;

        & .wrapper{
            padding: 60% 0 0 0;
        }
    }
}

.bgsizecover .page-header.has_hero_img{
   /* background-size: cover; */
}

.page-title {
    line-height: 1.3;
   // margin-bottom: 0;
    padding: 0;
}

.page-subtitle {
    font-family: $base-font-family;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
    padding: 0;
    margin-top: -40px;

    @media screen and (max-width: 768px) {
        margin-top: -$spacing-unit / 6;
        margin-bottom: $spacing-unit / 2;
    }

    .theme-illustrations-various & {
        font-style: normal;
    } 
}

.arrow_down {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
}

.arrow-right {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 20px;
}

.page-content {
    margin-top: $spacing-unit * 2;

    @include media-query($on-palm) {
        margin-top: $spacing-unit * 1.3;
    }

    .drop_cap { 
        float: left; 
        font-size: 3em; 
        line-height: 0.833em; 
        padding-top: .1em;
        padding-right: .1333em; 
        padding-left: .05em;  
        font-family: 'Merriweather', Georgia, serif;
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -10px;
            left:0;
            right: 4px;
            background-color: #000;
            height: 5px;
        }

        @include media-query ($on-smallphone) {
            top: 1px;
        }
    }

    .quick_info_box {
        padding: $spacing-unit / 2;
        padding-bottom: 0;
        border: 2px solid $text-color;
        margin-bottom: $spacing-unit;
    }

    .quick_info_box_header {
        margin-bottom: $spacing-unit / 4;
    }

    .quick_info_box_list {
        margin-left: $spacing-unit / 3;
    }
}

/**
 * Column layouts   
 */
 .row {
    clear: both;
    margin-left: -$spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    overflow: auto;

    &.row--nested {
        margin-bottom: 0;
        overflow: visible;
    }
 }

 .raster img{
    margin-bottom: $spacing-unit / 2;
 }

.col-text {
    padding-top: 1em;
    padding-bottom: 1em;
}

 .col-12, .col-8, .col-6, .col-4 {
    float: left;
    padding-left: $spacing-unit / 2;
   // overflow: hidden;
    padding-top: 10px;
 }

.col-12 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

.col-8 {
    width: -webkit-calc(66.6% - (#{$spacing-unit} / 2));
    width:         calc(66.6% - (#{$spacing-unit} / 2));
}

.col-6 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.col-4 {
    width: -webkit-calc(33.3% - (#{$spacing-unit} / 2));
    width:         calc(33.3% - (#{$spacing-unit} / 2));
}

.offset-2 {
    margin-left: 16.6%;   
}
.offset-3 {
    margin-left: 25%  ;   
}
.offset-4 {
    margin-left: 33.3%;   
}

.row-overlap,
.col-overlap {
    overflow: visible;
}

@include media-query($on-laptop) {
     .col-8, .col-6, .col-4 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
     }
     .offset-2, .offset-3, .offset-4 {
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
     }
}

@include media-query($on-palm) {
    .row {
        margin-bottom: 0;
        margin-left: 0;
        margin-top: $spacing-unit / 4;
    }

    .raster img{
        margin-bottom: 0;
    }

    .col-12, .col-8, .col-6, .col-4 {
        float: none;
        width: 100%;
        margin-bottom: $spacing-unit / 4;
        padding: 0;
        box-sizing: border-box;
    }
    .offset-3, .offset-2, .offset-4 {
        width: 100%;
    }
}

/* iframe stuff */

.animation-iframe {
    border: none; 
    width: 100%; 
    min-height: 580px;

    @include media-query($on-laptop) {
        height: calc(100vw - 40px);
        min-height: calc(100vw - 40px);
    }

    @include media-query($on-palm) {
        height: calc(100vw - 26.6666666667px);
        min-height: calc(100vw - 26.6666666667px);
    }
}

/* fluidbox */

.fluidbox-link {
    cursor: zoom-in;
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
}

.portfolio .fluidbox__overlay {
    background-color: #FFF;
}

/* Stuff that needs to be hidden on certain devices */

.hide_on_desktop {
    display: none;
}
@include media-query($on-palm) {
    .hide_on_phone {
        display: none;
    }
    .hide_on_desktop {
        display: initial;
    }
}