/* .theme-bierbaum {

	@media screen and (min-width: 1200px) {

		& .page-title {
				font-size: 2.75rem;
				margin-bottom: 3rem;
		}
		& .page-subtitle {
				font-size: 2.5rem;
		}

		& .row:nth-child(1) {
			height: 80vh;
			font-size: 30px;
		}

		& .bierbaum-logo {
			transform: scale(1.3);
		}

	}

	& .row {
		@include media-query($on-palm) {
			overflow: visible;
			margin-bottom: 1em;
		}
	}

	& .page-header.has_hero_img {	    
	    background-size: 42vh;
	    background-position: center 14vh;
	    background-image: none!important;
	}

	& .the_crap_container {
		max-width: 320px;
		background-color: #8D798E;
		padding: 0;
		margin: 0 auto;
		border-radius: 15px;
		border-width: 50px 8px;
		border-color: $brand-color;
		border-style: solid;
		position: relative;
		top:-15vh;
	}

	& .crappyturd_iframe {
		width: 100%;
		max-width: 320px;
		min-height: 480px;
		border: none;
	}

	& .work_list_tile_BierbaumLogo{
		display: none;
	}
}

@include media-query($on-palm){
	.theme-bierbaum {

		.the_crap_container {
			top: 0;
		}

		.page-header.has_hero_img .wrapper {
			padding-top: calc(10vh + 420px)!important;
		}
	}
}

@media screen and (max-height: 624px) {
	.arrow_down {
	//display: none;	
	}
}

// Tree stuff 

.bierbaum-logo {
	position: relative;
    
    @media screen and (max-width: 640px) {
	    width: 100%;
	    margin: 0;
   }

}

.about_tree {

	width: 280px;
	margin-left: -140px;
	height: 412px;
	position: relative;
	top: 0;
	left: 50%;	
	z-index: 2;

	@media screen and (min-width: 640px) {
		width: 387px;
		height: 570px;
		margin-left: -193px;
	}
}

.st0{fill:none;stroke:$background-color;stroke-width:5.1561;stroke-miterlimit:10;}
.st1{fill:none;stroke:$text-color;stroke-width:4.6822;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{fill:#231F20;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:$background-color;stroke-width:4.6822;stroke-miterlimit:10;}
.st4{fill:none;stroke:$background-color;stroke-width:5.1561;stroke-linecap:square;stroke-miterlimit:10;}
.st5{fill:$background-color;}
.st6{fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;}
.st7{fill:none;stroke:$text-color;stroke-width:4.6822;stroke-miterlimit:10;}
.st8{fill-rule:evenodd;clip-rule:evenodd;fill:$background-color;}
.st9{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:$text-color;stroke-width:4.6822;stroke-miterlimit:10;}


#Tree_Eye_BG--anim_bg {
	background-color: $text-color;
	position: absolute;
	top: 4.76%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: 0 0 0 -20px;
	padding: 0;
	border-radius: 100%;	
	z-index: 3;

	@media screen and (min-width: 640px) {
		width: 53px;
		height: 53px;
		margin: -1px 0 0 -26px;
	}
}

#Tree_Eye_BG--anim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $background-color;
	padding: 0;
	border-radius: 100%;	
	animation: blink 4s infinite;
}

#Tree_Eye_inner--anim {
	position: absolute;
	top: 13px;
	left: 13px;
    width: 26px;
    height: 26px;
    background: transparent;
    border: 3px solid $text-color;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    box-sizing: border-box;
    transform: translate(0,0);

    &:after {
    	content: '';
    	display: block;
    	width: 10px;
    	height: 10px;
    	background-color: $text-color;
    	position: absolute;
    	left:5px;
    	top:5px;
    	border-radius: 100%;
    }

}


@keyframes blink{
	0% {
		transform: scaleY(1);
	}
	48% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0);
	}
	60% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(1);
	}
} */