.theme-crappy {
}

.toiletroll {
	width: 128px;
	height: 128px;
	background: url('/img/work_crappy/toiletroll-spritesheet.png') left top;
	background-size: 1280px 128px;
	animation: play-toiletroll 1s steps(10) infinite;
	display: inline-block;

	@keyframes play-toiletroll {
	   100% { background-position: -1280px; }
	}
}

.turd {
	width: 64px;
	height: 64px;
	background: url('/img/work_crappy/turd-spritesheet.png') left top;
	background-size: 1920px 128px;
	animation: play-turd_flapping 2s steps(26) infinite;
	display: inline-block;

	&.turd_flaming {
		background-position: left bottom;
		animation: play-turd_flaming 1s steps(11) infinite;
		margin: -10px auto 20px auto;;
	}

	&.turd_flapping {
		background-position: left top;
		animation: play-turd_flapping 1s steps(7) infinite;
		margin: -10px auto 20px auto;;
	}

	@keyframes play-turd_flapping {
		0%	 { background-position: -384px top }
	   	100% { background-position: -832px top; }
	}

	@keyframes play-turd_flaming {
	   100% { background-position: -704px bottom; }
	}
}

.work_list_tile_CrappyTurd .work_list_tile_thumb{
	background-position: 50% top;
}


@include media-query($on-palm){
	.theme-crappy {

		.the_crap_container {
			top: 0;
		}

	}
}