$theme_hatetracker_color_black: #110000;
$theme_hatetracker_color_red: red;
$theme_hatetracker_color_header: #110000;
$theme_hatetracker_color_bg:#FFFEFE;
$theme_hatetracker_color_border: #110000;

.theme-hatetracker {

  @include theme-colors(#FFF, #000);

	// & .project_logo_herocenter {
	// 	position: absolute;
	//     top: 25vh;
	//     left: 0;
	//     right: 0;
	//     height: 28vh;
	//     text-align: center;

	//     & img {
	//     	height: 100%;
	//     	width: auto;	    	

  //   	  @media screen and (max-width: 480px) {
  //   	  	width: 75%;
  //   	  	height: auto;
  //   	  }
	//     }
	// }

	/* & .page-title {
		display: none;
	}	 */

  & .work_list_tile:hover:before {
    background-color: red;
  }

	& .hatetracker_logo_content {
		max-width: 320px;
	}

	& .work_list_tile_HateTracker {
		display: none;
	}

	& .arrow_down polygon{
		fill: $text-color;
	}

	& .hatetracker_evil_eye {
		max-width: 320px;
		height: auto;
		margin: -1em auto;
	}

	& .mobile_screenshot {
		border: 2px solid #000;
		box-shadow: 4px 4px 0 #000;
		box-sizing: border-box;
	}
}