.theme-booking {
	@include theme-colors( #50a9ff, #032c63);
}
.theme-adidas {
	@include theme-colors(#1D4798, #fff);
  @include highligh-color( #DFA406 );
  .page-header_bg img {
    object-position: center 33%;
  }
	.wrapper_outer {
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 15rem;
	}
}