$theme_booking_color: #003580;
$theme_booking_color_bg: #fff;
$theme_booking_color_highlight: #1695FE;

.theme-booking {

	background-color: $theme_booking_color_bg;
	color: $theme_booking_color;

	& #floter_signature_svg {
		fill: $theme_booking_color_bg;
	}

	& .post-header {
		background-color: $theme_booking_color;
		background-size: cover;
		background-position: left bottom;
		height: 100vh;
	}

	& a.page-link,
	& a:visited.page-link {
		color: $theme_booking_color_bg;
	}

	& .post-title {
		color: $theme_booking_color_bg;
	}

	& a.site-title,
	& a:visited.site-title {
		color: $theme_booking_color_bg;
	}

	& .quick_info_box {
		border-color: $theme_booking_color;
	}

	& .post-subtitle {
		margin-top:0px;
		color: $theme_booking_color_bg;
		font-family: $heading-font-family;
		font-style: italic;
	}

	& a, & a:visited {
		color: $theme_booking_color_highlight;
	}

	& .post-content .drop_cap:after {
		background-color: $theme_booking_color;
	}

	& hr {
		border-width:0;
		border-top: 4px solid $theme_booking_color;
	}

	& .col-hero-overlap {
		position: relative;
		top: -160px;
		margin-bottom: -100px;
	}

	& .work_booking_img_iphone {
		display: block;
		margin: 0 auto;
	}

	& .work_list_tile_title {
		background-color: $theme_booking_color;
	}

	& .slick-arrow {
		left: auto;
		right: 100%;
	}

	& .slick-arrow.slick-next {
		left: 100%;
		right: auto;
	}
}

@include media-query($on-laptop) {
	.theme-booking {
		&  .post-header.has_hero_img {
				background-size: auto 100vh;
		}
	}

}

@include media-query($on-palm) {
	.theme-booking {

		& .col-hero-overlap {
			top: 0;
			margin-bottom: 0;
		}

		&  .post-header.has_hero_img {
			background-size: auto 100vh;
		}
	}
}