$theme_crappy_color: #584659;
$theme_crappy_color_bg: #F6DAD8;
$theme_crappy_color_border: #FFF;

.theme-crappy {
    border-color: $theme_crappy_color_border;
    background-color: $theme_crappy_color_bg;

    &:after,
    &:before {
    	background-color: $theme_crappy_color_border;
    }

    & #floter_signature_svg {
    	fill: $theme_crappy_color;
    }

	& .page-header.has_hero_img {	    
	    background-size: 42vh;
	    background-position: center 14vh;
	}

	&,	
	& a.page-link,
	& a:visited.page-link {
		color: $theme_crappy_color;
	}

	& a.site-title,
	& a:visited.site-title {
		color: $theme_crappy_color;
	}

	& .page-title {
	    font-size: 64px;
	    margin-bottom: .33em;

	    @include media-query($on-palm) {
			font-size: 32px;
			line-height: 1.3;
			letter-spacing: 0;
		}

		@include media-query($on-smallphone) {
			font-size: 24px;
		}
	}

	& p a, & p a:visited {
		color: $theme_crappy_color;
		text-decoration: underline;
	}

	& .page-content .drop_cap:after {
		background-color: $theme_crappy_color;
	}

	& hr {
		border-width:0;
		border-top: 4px solid $theme_crappy_color;
	}

	& .the_crap_container {
		max-width: 320px;
		background-color: #8D798E;
		padding: 0;
		margin: 0 auto;
		border-radius: 15px;
		border-width: 50px 8px;
		border-color: $theme_crappy_color;
		border-style: solid;
	}

	& .crappyturd_iframe {
		width: 100%;
		max-width: 320px;
		min-height: 480px;
		border: none;
	}

	& .work_list_tile_CrappyTurd{
		display: none;
	}

	& .arrow_down polygon{
		fill: $theme_crappy_color;
	}
}

@include media-query($on-palm){
	.theme-crappy {

		.the_crap_container {
			top: 0;
		}

	}
}

.work_list_tile_CrappyTurd .work_list_tile_thumb {
    background-size: 66.6%;
    background-color: $theme_crappy_color_bg;
}

.work_list_tile_CrappyTurd .work_list_tile_title {
	color: $theme_crappy_color;
}