$text-color_illustrations: #FFF;
$bg-color_illustrations: #dec6bf;
$highlight-color_illustrations: #b70000;

.theme-illustrations-various {

	background-color: $bg-color_illustrations;
	border-color: $text-color_illustrations;

	& #floter_signature_svg {
		fill: $text-color_illustrations;
	}

	& .page-content {
		font-size: 17px;
		margin-top: 60px;

		@include media-query($on-palm) {
			margin-top: 0;
		}
	}

	& .page-title,
	& a.site-title,
	& a:visited.site-title,
	& a.page-link,
	& a:visited.page-link {
		//color: $highlight-color_illustrations;
	}

	& .post-subtitle, & a, & a:visited {
		color: $highlight-color_illustrations;
	}

	& .post-content .drop_cap:after {
		background-color: $text-color_illustrations;
	}

	& hr {
		border-width:0;
		border-top: 2px solid $highlight-color_illustrations;
	}

	& .index-header {
		font-size:1.3em;
		background-image: url(../img/hero-bg/illustrations-various_simon.jpg);
		background-attachment: fixed;
		min-height: 75vh;
		padding-top: 25vh;
		background-position: 50% 50%;
	}

	& .index_arrow_to_work {
		width: 60px;
		height: 60px;
		margin-bottom: -30px;
	}

	& .arrow_down {
		display: none;
	}

	& .work_list_tile_title {
		background-color: $highlight-color_illustrations;
	}

	& .illustration_image,
	& .illustration_title,
	& .illustration_client,
	& .illustration_description {
		display: block;
		margin-bottom: 15px;
		text-align: center;
	}

	& .illustration_image--shadow {
		border: 1px solid #EEE;
		box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.33);
	}

	& .illustration_title {
		font-size: 1em;
		margin-bottom: 0;
	}
	
	& .illustration_client {
		margin-bottom: 5px;	
		color: $highlight-color_illustrations;	
		font-style: italic;
	}

	& .illustration_description {
		margin-bottom: 30px;	
		padding: 0 20px;
		text-align: center;	
	}

	& .fluidbox__overlay {
		background-color: $highlight-color_illustrations;
	}

	& .work_list_tile_Illustrations {
		display: none;
	}

}

@include media-query($on-laptop) {
	
	.theme-illustrations-various {

		& {
			font-size: 22px;
		}

		& .index-header {
			font-size: 1em;
			background-size: 100%;
			background-position: 0 50px;
		}
	}
}

@include media-query($on-palm) {
	
	.theme-illustrations-various {

		& {
			font-size: 20px;
		}

		& .index-header {
			font-size: 1em;
			background-size: 180vw;
			background-position: -80vw 0;
			background-attachment: initial;
		}

		& .post-content .wrapper {
			padding-top: 66vh!important;
		}
	}
}

@include media-query($on-smallphone) {
	
	.theme-illustrations-various {

		& {
			font-size: 16px;
		}

		& .index-header {
			font-size: 1em;
		}

	}
}

.work_list_tile_Illustrations .work_list_tile_thumb{
	background-image: url(../img/work_illustrations-various/CangrejoLaLeche.jpg)!important;
}