.theme-julahas {
    @include theme-colors (#E4AF80, #8f4646);
    .wrapper_outer {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page-header_bg img {
      object-position: 25% top;
    }
}