$theme_crappy_color: #584659;
$theme_crappy_color_bg: #F6DAD8;
$theme_crappy_color_border: #FFF;

.theme-crappy {
    border-color: $theme_crappy_color_border;
    background-color: $theme_crappy_color_bg;

    &:after,
    &:before {
    	background-color: $theme_crappy_color_border;
    }

    & #floter_signature_svg {
    	fill: $theme_crappy_color;
    }

	& .page-header.has_hero_img {	    
	    background-size: 42vh;
	    background-position: center 14vh;
	}

	&,	
	& a.page-link,
	& a:visited.page-link {
		color: $theme_crappy_color;
	}

	& a.site-title,
	& a:visited.site-title {
		color: $theme_crappy_color;
	}

	& .page-title {
	    font-size: 64px;
	    margin-bottom: .33em;

	    @include media-query($on-palm) {
			font-size: 32px;
			line-height: 1.3;
			letter-spacing: 0;
		}

		@include media-query($on-smallphone) {
			font-size: 24px;
		}
	}

	& p a, & p a:visited {
		color: $theme_crappy_color;
		text-decoration: underline;
	}

	& .page-content .drop_cap:after {
		background-color: $theme_crappy_color;
	}

	& hr {
		border-width:0;
		border-top: 4px solid $theme_crappy_color;
	}

	& p .button {
		text-decoration: none;
		color: $theme_crappy_color;
		border-color: $theme_crappy_color;
		display: inline-block;

		&:hover,
		&:active {
			color: #FFF;
			background-color: $theme_crappy_color;
		}
	}

	& .work_list_tile_CrappyTurd{
		display: none;
	}

	& .arrow_down polygon{
		fill: $theme_crappy_color;
	}
}

.toiletroll {
	width: 256px;
	height: 256px;
	background: url('/img/work_crappy/toiletroll-spritesheet.png') left top;
	background-size: 2560px 256px;
	animation: play-toiletroll 1s steps(10) infinite;
	display: inline-block;

	@keyframes play-toiletroll {
	   100% { background-position: -2560px; }
	}
}

.turd {
	width: 128px;
	height: 128px;
	background: url('/img/work_crappy/turd-spritesheet.png') left top;
	background-size: 3840px 256px;
	animation: play-turd_flapping 2s steps(26) infinite;
	display: inline-block;

	&.turd_flaming {
		background-position: left bottom;
		animation: play-turd_flaming 1s steps(11) infinite;
		margin: -10px auto 20px auto;;
	}

	@keyframes play-turd_flapping {
	   100% { background-position: -3328px top; }
	}

	@keyframes play-turd_flaming {
	   100% { background-position: -1408px bottom; }
	}
}

.screenrec_iphone {
	display: block;
	margin: 0 auto;
	max-width: 305px;
}

@include media-query($on-palm){
	.theme-crappy {

		.the_crap_container {
			top: 0;
		}

	}
}

.work_list_tile_CrappyTurd .work_list_tile_thumb {
    background-size: 66.6%;
    background-color: $theme_crappy_color_bg;
}

.work_list_tile_CrappyTurd .work_list_tile_title {
	color: $theme_crappy_color;
}