.theme-home {
	@include theme-colors(#FFF, #000);

	.hero_headline {
		font-size: 6vw;
		font-family: $special-font-family;
		font-weight: $special-font-weight;
		font-style: $special-font-style;
		line-height: 1.2;
		letter-spacing: $special-font-spacing;
		font-kerning: none;
		font-feature-settings: normal;		
		perspective: 800px;
		margin-bottom: 1em;

		@media (max-width: 600px) {
			font-size: 7vw;
			perspective: 600px;
			margin: 3em 0;
		}
	

		& .rotater_two,
		& .rotater_one {
			display: inline-block;
			margin:0;
			//font-style: normal;
			transform-origin: 0% 90%;	

			@media (max-width: 600px) {
			}
		}
		& .rotater_two {
			transform-origin: 0% 0%;
		}
	}
}