.theme-illustrations-various {

	@media screen and (min-width: 768px) {

		& {
			background: url(../img/work_illustrations-various/hero.jpg) no-repeat 100% 0;
			background-size: cover;
			background-attachment: fixed;			

			@media screen and (orientation: portrait) {
				background: none;
			}
		}

		& #floter_signature_svg {
			fill: #FFF;
		}

		& .site-header {
			position: absolute;
			width: 100%;
			color: #FFF;

			& a {
				color: #FFF;
			}
		}

		& .col-4 {
			@media screen and (orientation: landscape) {
				width: 50%;
				clear: left;
			}
		}

		& .col-4 img {
			border: 10px solid #FFF;
		}

		& .page-title {

			@media screen and (min-width: 1200px) {
				font-size: 3rem;
			}
		}
		& .herow {
			overflow: auto;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			height: 100vh;
			width: 100vw;
			margin-left: 0;
			padding-top: 33vh;
			padding-left: 40px;
			box-sizing: border-box;
			color: #FFF;

			@media screen and (orientation: portrait) {
				background: url(../img/work_illustrations-various/hero.jpg) no-repeat 100% 0;
				background-size: auto 100vh;
			}

			& p {
				@media screen and (min-width: 1200px) {
					font-size: 1.25rem;
				}
			}

			& a {
				color: #FFF;
			}

			.drop_cap::after {
				background-color: #FFF;
			}

		}

		& .page-content .wrapper {
			max-width: none;
			padding-top: 100vh;
		}

	}

}

/* $text-color_illustrations: $text-color;
$bg-color_illustrations: $background-color;
$highlight-color_illustrations: $brand-color;

.theme-illustrations-various {

	& .col-4 {
		padding-bottom: 0;

		@media screen and (min-width: 768px) {
			padding-bottom: 30px;
		}
	}

	& .page-content {
		margin-top: 0px;

		@media screen and (min-width: 768px) {
		    margin-top: 80px;
		}
	}

	& .illustration_image,
	& .illustration_title,
	& .illustration_client,
	& .illustration_description {
		display: block;
		margin-bottom: 30px;
		color: #000;
	}

	& .illustration_image--shadow {
		border: 1px solid #EEE;
		box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.33);
	}

	& .illustration_title {
		font-size: 1em;
		margin-bottom: 0;
	}
	
	& .illustration_client {
		margin-bottom: 5px;	
		color: $highlight-color_illustrations;	
		font-style: italic;
	}

	& .fluidbox__overlay {
		background-color: $bg-color_illustrations;
	}

}

@include media-query($on-laptop) {
	
	.theme-illustrations-various {

		& {
			font-size: 22px;
		}

		& .index-header {
			font-size: 1em;
			background-size: 100%;
			background-position: 0 50px;
		}
	}
}

@include media-query($on-palm) {
	
	.theme-illustrations-various {

		& {
			font-size: 20px;
		}

		& .index-header {
			font-size: 1em;
			background-size: 180vw;
			background-position: -80vw 0;
			background-attachment: initial;
		}

		& .post-content .wrapper {
			padding-top: 66vh!important;
		}
	}
}

@include media-query($on-smallphone) {
	
	.theme-illustrations-various {
		& {
			font-size: 16px;
		}

		& .index-header {
			font-size: 1em;
		}
	}
} */