$theme_home_color: #590033;
$theme_home_color_bg: #FEDEC0;
$theme_home_color_highlight: #f90c5f;

.theme-home {

	background-color: $theme_home_color_bg;

	&,
	& a.site-title,
	& a:visited.site-title,
	& a.page-link,
	& a:visited.page-link {
		color: $theme_home_color;
	}

	& #floter_signature_svg {
		fill: $theme_home_color;
	}

	& .post-subtitle {
		margin-top:30px;
		color: $theme_home_color;
	}

	& .post-subtitle, & a, & a:visited {
		color: $theme_home_color_highlight;
	}

	& .post-content .drop_cap:after {
		background-color: $theme_home_color;
	}

	& hr {
		border-width:0;
		border-top: 2px solid $theme_home_color_highlight;
	}

	& .index-header {
		font-size:1.3em;
		background-image: url(../img/hero-bg/home_simon.png);
		background-position: 90% 20px;
		background-size: auto 95vh;		
		min-height: 75vh;
		padding-top: 25vh;

	}

	& .index_arrow_to_work {
		width: 60px;
		height: 60px;
		margin-bottom: -30px;
	}

	& .work_list_tile_title {
		background-color: $theme_home_color_highlight;
	}
}

@include media-query($on-laptop) {
	
	.theme-home {

		& {
			font-size: 22px;
		}

		& .index-header {
			font-size: 1em;			
		}
	}
}
@media screen and (orientation: portrait) and (min-width:640px) {
	.theme-home {

		& .index-header {
			background-size: 50vw auto;
			background-position: 90% 50%;
		}
	}
}

@include media-query($on-palm) {
	
	.theme-home {

		& {
			font-size: 20px;
		}

		& .index-header {
			font-size: 1em;
			background-size: auto 50vh;
			background-position: 50% 50px;
			background-attachment: initial;
		}

		& .post-content .wrapper {
			padding-top: 55vh!important;
		}
	}
}

@include media-query($on-smallphone) {
	
	.theme-home {

		& {
			font-size: 16px;
		}

		& .index-header {
			font-size: 1em;
		}

	}
}