---
layout: default
---
<article class="page page_noheader">

	<!-- <header class="page-header has_hero_img">
	 	
	 	<div id="pencil4hre" class="bst_active">    
		    <div class="home_illu_blood">			   
			    <img src="{{ site.baseurl }}/img/hero-bg/Pencil4Hire_Typo.png" class="blood_type" alt="The trail pf the mosquito flying away spells 'Blood'">   
			     <img src="{{ site.baseurl }}/img/hero-bg/Pencil4Hire_Icke.png" class="blood_woman" alt="A woman with a mosquitobite on her nose">
		    </div>
		</div>

		<a class="anchorlink" href="#this_page_content">{% include arrow_straight_down_white.svg %}</a>

	</header> -->

	<div id="this_page_content" class="page-content">
		{{ content }}
	</div> 


</article>
