---
layout: default
---
<article class="page">
	<header class="page-header has_hero_img">
	 
		<div id="blood" class="bst_active">    
		    <div class="home_illu_blood">
			    <img src="{{ site.baseurl }}/img/hero-bg/blood_woman.png" class="blood_woman" alt="A woman with a mosquitobite on her nose">
			    <img src="{{ site.baseurl }}/img/hero-bg/blood_mosquito.png" class="blood_mosquito" alt="A mosquito with a bloodfilled belly">
			    <img src="{{ site.baseurl }}/img/hero-bg/blood_type.png" class="blood_type" alt="The trail pf the mosquito flying away spells 'Blood'">   
		    </div>
		</div>

		<div id="sweat">    
		    <div class="home_illu_sweat">
			    <img src="{{ site.baseurl }}/img/hero-bg/sweat_bench.png" class="sweat_bench" alt="a Bench in a Sauna">
			    <img src="{{ site.baseurl }}/img/hero-bg/sweat_guy.png" class="sweat_guy" alt="A big sweaty man sitting on the bench smirking and looking a bit disgusting">
			    <img src="{{ site.baseurl }}/img/hero-bg/sweat_sweat.png" class="sweat_sweat" alt="The sweat that gathers on the towel covering the man's genitals spells the word 'Sweat'"> 
		    </div>
		</div>
	  
	  	<div id="tears">    
		    <div class="home_illu_tears">
			    <img src="{{ site.baseurl }}/img/hero-bg/tears_baby.jpg" class="tears_baby" alt="The head of a really upset baby, a waterfall of tears is coming out of its eye">
			    <img src="{{ site.baseurl }}/img/hero-bg/tears_dolphin_splash.png" class="tears_dolphin_splash" alt="A dolphin jumps out of the waterfall of tears coming out of the babie's eye">			    
			    <img src="{{ site.baseurl }}/img/hero-bg/tears_dolphin.png" class="tears_dolphin" alt="A dolphin jumps out of the waterfall of tears">		    
			    <img src="{{ site.baseurl }}/img/hero-bg/tears_speech.png" class="tears_speech" alt="the dolphin joyfully screams 'Tears!'">
		    </div>
		</div>

		<div id="introduce">    
		    <div class="wrapper">
		    	{% include pencil_illustration.svg %}
		    	<div class="row">
				    <div class="col-8 offset-2 col-text aboutme">      				      
				      <h1>Pencil for hire</h1>
			          <p><span class="drop_cap">I</span> am Simon, a independent Designer and Illustrator based in Amsterdam. None of my clients' <em>websites, housestyles, book covers or shop windows</em> are worse than before I worked on them.</p>			     
			          <p><a class="button" href="mailto:simon@floter.design">Email me</a> <span class="or">or</span>
			          <a class="button anchorlink" href="#work_examples">Check out my work</a></p>
			          
			        </div>
			    </div>
		    </div>			
		</div>
	</header>

	<!-- <div id="this_page_content" class="page-content">
		{{ content }}
	</div> -->


</article>
