---
layout: default
---
<article class="page">
	<header class="page-header has_hero_img">
	 
		<div id="blood" class="bst_active">    
		    <div class="home_illu_blood">
			    <img src="{{ site.baseurl }}/img/hero-bg/blood_woman.png" class="blood_woman">
			    <img src="{{ site.baseurl }}/img/hero-bg/blood_mosquito.png" class="blood_mosquito">
			    <img src="{{ site.baseurl }}/img/hero-bg/blood_type.png" class="blood_type">   
		    </div>
		</div>

		<div id="sweat">    
		    <div class="home_illu_sweat">
			    <img src="{{ site.baseurl }}/img/hero-bg/sweat_bench.png" class="sweat_bench">
			    <img src="{{ site.baseurl }}/img/hero-bg/sweat_guy.png" class="sweat_guy">
			    <img src="{{ site.baseurl }}/img/hero-bg/sweat_sweat.png" class="sweat_sweat"> 
		    </div>
		</div>
	  
	  	<div id="tears">    
		    <div class="home_illu_tears">
			    <img src="{{ site.baseurl }}/img/hero-bg/tears_baby.png" class="tears_baby">
			    <img src="{{ site.baseurl }}/img/hero-bg/tears_tears.png" class="tears_tears">
			    <img src="{{ site.baseurl }}/img/hero-bg/tears_dolphin_splash.png" class="tears_dolphin_splash">			    
			    <img src="{{ site.baseurl }}/img/hero-bg/tears_dolphin.png" class="tears_dolphin">		    
			    <img src="{{ site.baseurl }}/img/hero-bg/tears_speech.png" class="tears_speech">
		    </div>
		</div>

		<div id="introduce">    
		    <div class="wrapper">
		    	<div class="row">
				    <div class="col-8 offset-2 col-text aboutme">      
				      <h1>Blood, Sweat and Tears</h1>
			          <p><span class="drop_cap">T</span>hat's what it takes to make it as a freelance Designer and Illustrator they said. And a website. And clients. With projects. <em>Are you a potential client with a project?</em></p>
			          <a class="button" href="mailto:simon@floter.design">Email me</a> <span class="or">or</span>
			          <a class="button anchorlink" href="#work_examples">Check out my work</a>
			        </div>
			    </div>
		    </div>			
		</div>
	</header>

	<!-- <div id="this_page_content" class="page-content">
		{{ content }}
	</div> -->


</article>
