---
layout: default
---
<article class="page">
  <header class="page-header{% if page.header_bg_image %} has_hero_img{% endif %}">
	<div class="page-header_bg">
{% if page.header_bg_image %}
{% responsive_image_block %}
  path: {{ page.header_bg_image }}
  sizes: "(min-width: 600px) 100vw, 250vw"
{% endresponsive_image_block %}
{% endif %}
	</div>
  	<div class="wrapper page-header-wrapper">
		{% if page.category %} 
	    	<h2 class="page-subtitle">{{ page.category }}</h2>
	   	{% endif %}
	    <h1 class="page-title">	    	
	    	{% if page.headline %}	
	    		{{ page.headline }}
	    	{% else %}
	    		{{ page.title }}
	    	{% endif %}
	    </h1>
	</div>
  </header>

	<div id="this_page_content" class="page-content">
		{{ content }}
	</div>

</article>
